<%include main%>

        <link rel="stylesheet" href="/stylesheets/plugins/summernote.css">
    </head>


    <body>


        <%include navbar%>

        <!-- =======================
             ===== START PAGE ======
             ======================= -->

        <div class="wrapper">
            <div class="container">

                
                <div class="row">

                    <!-- Left sidebar -->
                    <div class="col-lg-3 col-md-4">

                        <div class="m-t-20">
                            <a href="/med/new" class="btn btn-danger btn-custom btn-block waves-effect waves-light">목록으로</a>

                            <div class="list-group mail-list  m-t-20">
                                <a href="#" class="list-group-item b-0"><i class="fa fa-download m-r-10"></i>금액높은순</a>
                                <a href="#" class="list-group-item b-0"><i class="fa fa-star-o m-r-10"></i>금액낮은순</a>
                                <a href="#" class="list-group-item b-0"><i class="fa fa-file-text-o m-r-10"></i>최신등록순</a>
                                <a href="#" class="list-group-item b-0"><i class="fa fa-paper-plane-o m-r-10"></i>마감임박순</a>
                            </div>
                            
                            <!--<div class="list-group mail-list  m-t-20">-->
                            <!--    <a href="mail-inbox.html" class="list-group-item b-0 active"><i class="fa fa-download m-r-10"></i>Inbox <b>(8)</b></a>-->
                            <!--    <a href="#" class="list-group-item b-0"><i class="fa fa-star-o m-r-10"></i>Starred</a>-->
                            <!--    <a href="#" class="list-group-item b-0"><i class="fa fa-file-text-o m-r-10"></i>Draft <b>(20)</b></a>-->
                            <!--    <a href="#" class="list-group-item b-0"><i class="fa fa-paper-plane-o m-r-10"></i>Sent Mail</a>-->
                            <!--    <a href="#" class="list-group-item b-0"><i class="fa fa-trash-o m-r-10"></i>Trash <b>(354)</b></a>-->
                            <!--</div>-->


                        </div>

                    </div>
                    <!-- End Left sidebar -->

                    <!-- Right Sidebar -->
                    <div class="col-lg-9 col-md-8">

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box m-t-20">
                                    <h4 class="m-t-0"><b><%=data.title%></b></h4>

                                    <hr/>

                                    <div class="media m-b-30 ">
                                        <a href="#" class="pull-left">
                                            <img alt="" src="/images/users/avatar-2.jpg" class="media-object thumb-sm img-circle">
                                        </a>
                                        <div class="media-body">
                                            <% var oneItem = data.upload_time;
                                            var month = ("0"+oneItem.getMonth().toString()).substr(-2);
                                            var date = ("0"+oneItem.getDate().toString()).substr(-2);
                                            var year = oneItem.getFullYear().toString();
                                            var hour = ("0"+oneItem.getHours().toString()).substr(-2);
                                            var minute = ("0"+oneItem.getMinutes().toString()).substr(-2);
                                            var full_date = year+"/"+month+"/"+date+" "+hour +":"+minute;
                                            %>

                                            <span class="media-meta pull-right"><%=full_date%></span>
                                            <h4 class="text-primary m-0"><%=data.writer_id%></h4>
                                            <small class="text-muted"><%=data.contact%>pys2@gmail.com</small>
                                        </div>
                                    </div> <!-- media -->
                                    <p><b>예상금액: <%=data.pay%></b>&nbsp;&nbsp;
                                        <b>마감날짜: <%=data.pay%></b>
                                    </p>
                                    <p><b><%=data.summary%></b></p>
                                    <%=data.content%>
                                    <hr/>

                                    <h4> <i class="fa fa-paperclip m-r-10 m-b-10"></i> Attachments <span>(3)</span> </h4>

                                    <div class="row">
                                        <div class="col-sm-2 col-xs-4">
                                            <a href="#"> <img src="/images/small/img1.jpg" alt="attachment" class="img-thumbnail img-responsive"> </a>
                                        </div>
                                        <div class="col-sm-2 col-xs-4">
                                            <a href="#"> <img src="/images/small/img2.jpg" alt="attachment" class="img-thumbnail img-responsive"> </a>
                                        </div>
                                        <div class="col-sm-2 col-xs-4">
                                            <a href="#"> <img src="/images/small/img3.jpg" alt="attachment" class="img-thumbnail img-responsive"> </a>
                                        </div>
                                    </div>
                                </div>
                                <% if(user) {%>
                                <div class="text-right">
                                   
                                    <button type="submit" class="btn btn-primary waves-effect waves-light w-md m-b-30" onclick="location.href='/med/<%=data.id%>';">수정하기</button>
                                    <form action="/med/<%= data._id %>?_method=delete" method="post">
                                        <button type="submit" class="btn btn-primary waves-effect waves-light w-md m-b-30" onclick="med_delete();">삭제하기</button>
                                    </form>
                                </div>
                                <%}%>
                            </div>
                        </div>

                    </div> <!-- end Col-9 -->

                </div><!-- End row -->




                <%include footer%>

            </div> <!-- end container -->
        </div>
        <!-- End wrapper -->


        
        <!-- jQuery  -->
        <%include mainjs%>

        <!-- summer note -->
        <script src="/js/plugins/summernote.min.js"></script>

       

        <script>
            jQuery(document).ready(function(){

                $('.summernote').summernote({
                    airMode: true
                });
            });
            
            function med_update () {
                var form = document.createElement('form');
                form.setAttribute('method', 'get');
                form.setAttribute('action', 'http://google.com');
                form.style.display = 'hidden';
                document.body.appendChild(form)
                form.submit();
            }
        </script>


    </body>
</html>