
<%include main%>
<link href="/stylesheets/plugins/footable.core.css" rel="stylesheet">

    </head>


    <body>


        <% include navbar %>
        <!-- End Navigation Bar-->


        <!-- =======================
             ===== START PAGE ======
             ======================= -->

        <div class="wrapper">
            <div class="container" style="margin-top:160px">

                
                <!-- Page-Title -->


                <div class="row">
                    <div class="col-lg-3 col-md-4">
                        <div class="text-center card-box">
                            <div class="member-card">
                                <div class="thumb-xl member-thumb m-b-10 center-block">
                                    <img src="/upload/profile/<%= data.userinfo.image %>" onerror="/images/gom.jpg" width="200px" height="200px" class="img-circle" alt="profile-image">
                                </div>

                                <div class="">
                                    <h4 class="m-b-5"><%=data.userinfo.name%></h4>
                                    <p class="text-muted"><%=data.userinfo.uid%></p>
                                </div>
                                
                                
                            <form class="" action="/my" role="form" method="post" enctype="multipart/form-data">
                                <div class="fileupload  btn-sm w-sm m-t-10 btn btn-primary waves-effect waves-light">
                                    <span>프사선택</span>
                                    <input type="file" class="upload" name="filetoupload">
                                </div>
                                <button type="submit" class="btn btn-danger btn-sm w-sm waves-effect m-t-10 waves-light">변경</button>
                            </form>

                                <div class="text-left m-t-40">
                                    <p class="text-muted font-13"><strong>Full Name :</strong> <span class="m-l-15"><%=data.userinfo.name%></span></p>

                                    <p class="text-muted font-13"><strong>Email :</strong> <span class="m-l-15"><%=data.userinfo.email%></span></p>

                                    <p class="text-muted font-13"><strong>Point :</strong> <span class="m-l-15"><%=data.userinfo.point%></span></p>
                                </div>


                            </div>

                        </div> <!-- end card-box -->

                        

                    </div> <!-- end col -->


                    <div class="col-md-8 col-lg-9">
                        <div class="">
                            <div class="">
                                <ul class="nav nav-tabs navtab-custom">
                                    <li class="active">
                                        <a href="#home" data-toggle="tab" aria-expanded="true">
                                            <span class="visible-xs"><i class="fa fa-user"></i></span>
                                            <span class="hidden-xs">작성한 프로젝트</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#settings" data-toggle="tab" aria-expanded="false">
                                            <span class="visible-xs"><i class="fa fa-cog"></i></span>
                                            <span class="hidden-xs">내 정보</span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="home">
                                        
                                       <table id="demo-foo-addrow" class="table m-b-0 toggle-circle" data-page-size="7">
                                            <thead>
                                                <tr>
                                                    <th data-sort-ignore="true" class="min-width"></th>
                                                    <th data-sort-initial="true" data-toggle="true">작성자</th>
                                                    <th>제목</th>
                                                    <th data-hide="phone">내용</th>
                                                    <th data-hide="phone, tablet">날짜</th>
                                                    <th data-hide="phone, tablet">상태</th>
                                                </tr>
                                            </thead>
                                            <div class="pad-btm form-inline">
                                                <div class="row">
                                                    <div class="col-sm-6 text-xs-center text-right">
                                                        <div class="form-group">
                                                            <input id="demo-input-search2" type="text" placeholder="Search" class="form-control  input-sm" autocomplete="off">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <tbody>

                                                <% 

                                                for( var i=0; i < data.medinfo.length ;i++){
                                                    var oneItem = data.medinfo[i];
                                                    var month = ("0"+oneItem.due_date.getMonth().toString()).substr(-2);
                                                    var date = ("0"+oneItem.due_date.getDate().toString()).substr(-2);
                                                    var year = oneItem.due_date.getFullYear().toString();
                                                    var full_date = year+"/"+month+"/"+date;


                                                %>
                                                
                                                <tr>
                                                    <td></td>
                                                    <td><%=data.medinfo[i].writer_id%></td>
                                                    <td><%= data.medinfo[i].title%></td>
                                                    <td><%= data.medinfo[i].summary%></td>
                                                    <td><%= full_date%></td>
                                                    <td style="text-align: center;"><button class="demo-delete-row btn btn-danger btn-xs btn-icon fa fa-times"></button></td>
                                      
                                                </tr>
                                                <%} %>
                                                
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="6">
                                                        <div class="text-right">
                                                            <ul class="pagination pagination-split m-t-30"></ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    
                                    <div class="tab-pane" id="settings">
                                        <form role="form" action="/my/?_method=put" method="post" id="user">
                                            <div class="form-group">
                                                <label for="FullName">사용자 아이디</label>
                                                <input type="text" value="<%=data.userinfo.uid%>" id="FullName"  class="form-control" readonly>
                                            </div>
                                            <div class="form-group">
                                                <label for="Email">Email</label>
                                                <input type="email" value="<%=data.userinfo.email%>" id="Email" name="user[email]"class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="Username">Username</label>
                                                <input type="text" value="<%=data.userinfo.name%>" id="Username"  name="user[name]" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="Password">OLD Password</label>
                                                <input type="password" placeholder="6 - 15 Characters" id="Password" name="user[password]" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="RePassword">NEWPassword</label>
                                                <input type="password" placeholder="6 - 15 Characters" id="RePassword"name="user[newpassword1]" class="form-control">
                                            </div>
                                            
                                            <div class="form-group">
                                                <label for="RePassword">Re-Password</label><%= passwordError?passwordError:""%>
                                                <input type="password" placeholder="6 - 15 Characters" id="RePassword"name="user[newpassword2]" class="form-control">
                                            </div><br>
                                            <center><button class="btn btn-primary waves-effect waves-light w-md" type="submit">Save</button></center>
                                        </form>
                                        <!--form action="/my?_method=delete" method="post">
                                            <button class="btn btn-primary waves-effect waves-light w-md" type="submit">탈퇴</button>
                                        </form-->
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div> <!-- end col -->
                </div>
                <!-- end row -->
<br>
                <!-- Footer -->
                <footer class="footer text-right">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                2017 © Minton.
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- End Footer -->

            </div> <!-- end container -->
        </div>
        <!-- End wrapper -->



        <%include mainjs%>
        
        <!--FooTable-->
		<script src="/js/plugins/footable.all.min.js"></script>
		<!--FooTable Example-->
		<script src="/js/pages/jquery.footable.js"></script>

    </body>
</html>