
<%include main%>
<link href="/stylesheets/plugins/footable.core.css" rel="stylesheet">

    </head>


    <body>


        <%include navbar%>
        <!-- End Navigation Bar-->


        <!-- =======================
             ===== START PAGE ======
             ======================= -->

        <div class="wrapper">
            <div class="container">

                <!-- Page-Title -->
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="page-title">Profile</h4>
                    </div>
                </div>
                <!-- Page-Title -->


                <div class="row">
                    <div class="col-lg-3 col-md-4">
                        <div class="text-center card-box">
                            <div class="member-card">
                                <div class="thumb-xl member-thumb m-b-10 center-block">
                                    <img src="/images/gom.jpg" class="img-circle img-thumbnail" alt="profile-image">
                                </div>

                                <div class="">
                                    <h4 class="m-b-5">Mark A. McKnight</h4>
                                    <p class="text-muted">@webdesigner</p>
                                </div>

                                <button type="button" class="btn btn-success btn-sm w-sm waves-effect m-t-10 waves-light">Follow</button>
                                <button type="button" class="btn btn-danger btn-sm w-sm waves-effect m-t-10 waves-light">Message</button>


                                <div class="text-left m-t-40">
                                    <p class="text-muted font-13"><strong>Full Name :</strong> <span class="m-l-15">Johnathan Deo</span></p>

                                    <p class="text-muted font-13"><strong>Mobile :</strong><span class="m-l-15">(123) 123 1234</span></p>

                                    <p class="text-muted font-13"><strong>Email :</strong> <span class="m-l-15">coderthemes@gmail.com</span></p>

                                    <p class="text-muted font-13"><strong>Location :</strong> <span class="m-l-15">USA</span></p>
                                </div>


                            </div>

                        </div> <!-- end card-box -->

                        

                    </div> <!-- end col -->


                    <div class="col-md-8 col-lg-9">
                        <div class="">
                            <div class="">
                                <ul class="nav nav-tabs navtab-custom">
                                    <li class="active">
                                        <a href="#home" data-toggle="tab" aria-expanded="true">
                                            <span class="visible-xs"><i class="fa fa-user"></i></span>
                                            <span class="hidden-xs">작성한 프로젝트</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#settings" data-toggle="tab" aria-expanded="false">
                                            <span class="visible-xs"><i class="fa fa-cog"></i></span>
                                            <span class="hidden-xs">내 정보</span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="home">
                                        
                                       <table id="demo-foo-addrow" class="table m-b-0 toggle-circle" data-page-size="7">
                                            <thead>
                                                <tr>
                                                    <th data-sort-ignore="true" class="min-width"></th>
                                                    <th data-sort-initial="true" data-toggle="true">작성자</th>
                                                    <th>제목</th>
                                                    <th data-hide="phone">내용</th>
                                                    <th data-hide="phone, tablet">날짜</th>
                                                    <th data-hide="phone, tablet">상태</th>
                                                </tr>
                                            </thead>
                                            <div class="pad-btm form-inline">
                                                <div class="row">
                                                    <div class="col-sm-6 text-xs-center text-right">
                                                        <div class="form-group">
                                                            <input id="demo-input-search2" type="text" placeholder="Search" class="form-control  input-sm" autocomplete="off">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--tbody>
                                                <%data.forEach(d){%>
                                                <tr>
                                                    <td style="text-align: center;"><button class="demo-delete-row btn btn-danger btn-xs btn-icon fa fa-times"></button></td>
                                                    <td><%=d.title%></td>
                                                    <td><%=d.due_date%></td>
                                                    <td><%=d.summary%></td>
                                                    <td><%=d.upload_time%></td>
                                                    <td><span class="label label-table label-success"><%=d.finished%>Active</span></td>
                                                    <td><a ref="/my/<%=d._id%>">Go-></a></td>
                                                </tr>
                                                <%}%>
                                            </tbody-->
                                            <tfoot>
                                                <tr>
                                                    <td colspan="6">
                                                        <div class="text-right">
                                                            <ul class="pagination pagination-split m-t-30"></ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    
                                    <div class="tab-pane" id="settings">
                                        <form role="form">
                                            <div class="form-group">
                                                <label for="FullName">Full Name</label>
                                                <input type="text" value="John Doe" id="FullName" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="Email">Email</label>
                                                <input type="email" value="first.last@example.com" id="Email" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="Username">Username</label>
                                                <input type="text" value="john" id="Username" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="Password">Password</label>
                                                <input type="password" placeholder="6 - 15 Characters" id="Password" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="RePassword">Re-Password</label>
                                                <input type="password" placeholder="6 - 15 Characters" id="RePassword" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="AboutMe">About Me</label>
                                                <textarea style="height: 125px" id="AboutMe" class="form-control">Loren gypsum dolor sit mate, consecrate disciplining lit, tied diam nonunion nib modernism tincidunt it Loretta dolor manga Amalia erst volute. Ur wise denim ad minim venial, quid nostrum exercise ration perambulator suspicious cortisol nil it applique ex ea commodore consequent.</textarea>
                                            </div>
                                            <button class="btn btn-primary waves-effect waves-light w-md" type="submit">Save</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div> <!-- end col -->
                </div>
                <!-- end row -->


                <!-- Footer -->
                <footer class="footer text-right">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                2017 © Minton.
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- End Footer -->

            </div> <!-- end container -->
        </div>
        <!-- End wrapper -->



        <%include mainjs%>
        
        <!--FooTable-->
		<script src="/js/plugins/footable.all.min.js"></script>
		<!--FooTable Example-->
		<script src="/js/pages/jquery.footable.js"></script>

    </body>
</html>